.wrapper {
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(162, 134, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 60rem;
  border-radius: 1rem;
  min-height: 10rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(10px, 10px, 10px, 0.5);
  background-color: var(--color-bg-elevated);
}
.itemz {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  width: 100%;
}
img {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  object-fit: cover;
}
.eachItemCont {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.btn {
  width: 7rem;
  height: 2rem;
  font-family: var(--font-main);
  font-size: 0.7rem;
  transition: ease-in-out 0.1s transform;
  position: absolute;
  right: 32rem;
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-0.3rem);
}
.total {
  position: absolute;
  right: 32rem;
  top: 35rem;
}
.addRemoveBtns {
  width: 2rem;
  height: 1.5rem;
}
.addRemoveBtns:hover {
  cursor: pointer;
}
.btncont {
  margin-left: 0.5rem;
}
